<script lang='ts'>
  import { onMount } from 'svelte'
  import type { TaskRequest } from '../model'
  import { refreshToday, error } from '../store'

  const coreUrl = import.meta.env.VITE_CORE_URL  
  
  let alreadySaidHello = false
  onMount(async () => {
    try {
      let dt = new Date().toISOString()
      const response = await fetch(`${coreUrl}/hello/${dt}`)
      if (response.status == 200) {
        alreadySaidHello = true
        console.log('Hello already done for today')
      } else if (response.status == 204) {
        console.log('No yet Hello for today')
      } else {
        console.log(`Bug ${response.status}`)
      }
    } catch (exception) {
        error.update(() => exception)
    }
  })

  let state: string = '🌇'
  const sayHello = async () => {
    const response = await fetch(`${coreUrl}/hello`, {
      method: 'PUT',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({key: new Date().toISOString()})
    })
    if (response.ok) {
      alreadySaidHello = true
      state = '☀️'
      refreshToday.update(() => true)
    } else {
      state = '🌧️'
    }
  }
  let newTask: TaskRequest = {is_a_break: false, is_ignored: false}
  let prjField

  const addTask = async () => {
    newTask.key = new Date().toISOString()
    try {
      const response = await fetch(`${coreUrl}/task`, {
        method: 'POST', 
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(newTask)
      })
      if (response.ok) {
        newTask = {is_a_break: false, is_ignored: false}
        prjField.focus()
        refreshToday.update(() => true)
      } else {
        error.update(() => "ko")
      }
    } catch (exception) {
      error.update(() => exception)
    }
  }

</script>

<div class=add>
  {#if !alreadySaidHello }
    <button on:click={sayHello}>
      {state} Say Hello {state}
    </button>
  {:else}
    <form on:submit|preventDefault={addTask}>
      <fieldset>
        <input type='text' id='project' name='project' placeholder='Project' bind:value={newTask.project} size="12" bind:this={prjField} />
        <input type='text' id='task' name='task' placeholder='Task desc' bind:value={newTask.task} required size="30" />
        <button type="submit" disabled={!newTask.task} >🔽</button>
      </fieldset>
      <fieldset>
        <input class="cb" type='checkbox' name='break'   bind:checked={newTask.is_a_break}   /><label for='break'>is a break</label>
        <input class="cb" type='checkbox' name='ignored' bind:checked={newTask.is_ignored} /><label for='ignored'>to be ignored</label>
      </fieldset>
    </form>
  {/if}
</div>

<style>
  fieldset {
    border: 0em;
    margin: 0.5em;
  }

  button {
    font-size: x-large;
    padding: 0em;
  }
  input {
    font-size: large;
  }

  .cb {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
</style>