<script lang="ts">
  import Today from "./Today.svelte"

</script>
<div>
  <h2>📈 Reporting 📊</h2>
  <p><Today/></p>
  <!-- <p>Weekly</p>
  <p>Monthly</p> -->
</div>

<style>
  h2 {
    margin: 0em;
  }
</style>