<script lang="ts">
  import { onMount } from 'svelte'
  import type { TasksResponse } from '../model';
  import { refreshToday, error } from '../store'
  const coreUrl = import.meta.env.VITE_CORE_URL

  let tasks: TasksResponse = {items: [], projects:[], activities: [], total: '', working: '', break_: ''}

  async function fetchData() {
    let dt = new Date().toISOString()
    const response = await fetch(`${coreUrl}/tasks/${dt}`)
    if (response.ok) {
      tasks = await response.json()
    } else {
      error.update(() => 'Error getting today tasks.')
    }
  }

  onMount(async () => {
    await fetchData()
  })

  refreshToday.subscribe(async (value) => {
    if (value) {
  		await fetchData()
      refreshToday.update(v => false)
    }
	})

</script>

<div class=subcard>
  <table class=summary>
    <caption>Today</caption>
    <tbody>
      <tr>
        <th>Total</th>
        <td></td>
      </tr>
      <tr>
        <th>Working</th>
        <td></td>
      </tr>
      <tr>
        <th>Break</th>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class=subcard>
  <table>
    <caption>Today - Projects</caption>
    <tbody>
      {#each tasks.projects as project (project.name)}
      <tr>
        <th>{project.name}</th>
        <td>{(project.duration) ? project.duration : ''}</td>
      </tr>
      {/each}
    </tbody>
  </table>
</div>

<div class=subcard>
  <table>
    <caption>Today - Details</caption>
    <tbody>
      {#each tasks.items as task (task.key)}
      <tr>
        <td>{task.time_}</td>
        <td>{(task.duration) ? task.duration : ''}</td>
        <td >{(task.is_hello) ? '🌇' : ''}{(task.is_a_break) ? '☕️' : ''}{(task.is_ignored) ? '🚫' : ''}</td>
        <td class=taskCol>{task.task}</td>
        <td>{(task.project) ? task.project : ''}</td>
      </tr>
      {/each}
    </tbody>
  </table>
</div>
