<script lang="ts">
  import { onMount } from 'svelte'
  import duttLogo from '/dutt.webp'
  import AddTask from './components/AddTask.svelte'
  import Report from './components/Report.svelte'
  import { error } from './store'
  const coreUrl = import.meta.env.VITE_CORE_URL  

  let message = ""
  error.subscribe(async (value) => {
    message = value
  })

  let version = ""
  onMount(async () => {
    try {
      const response = await fetch(`${coreUrl}/version`)
      version = (response.ok) ? (await response.json())['version'] : '💣️'
    } catch (exception) {
        message = exception
    }
  })
</script>

<main>
  <div class="card">
    Deta<img src={duttLogo} alt="dutt logo" class="logo" />UTT <span class=version>({version})</span>
  </div>
  {#if message}
    <div class="error">{message}</div>
  {/if}
  <div class="card">
    <AddTask />
  </div>
  <div class="card">
    <Report />
  </div>
</main>

<style>
  .logo {
    height: 6em;
    padding: 0em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .version {
    font-weight: lighter;
  }
</style>
