:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: blueviolet;
}
a:hover {
  color: blueviolet;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.card {
  padding: 1em;
  background-color: #d0c6d0;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d0c6d0;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.error {
  color: red;
  font-weight: bolder;
  background-color: #d0c6d0;
  border-radius: 1.0em;
  padding: 1.0em;
}

.subcard {
  background-color: #e2d8e2;
  border-color: #241a24;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.subcard table {
  width: 100%;
}

.subcard caption {
  font-weight: bolder;
  margin-bottom: 1em;
}

.subcard .taskCol {
  text-align: left;
}

.subcard td {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.subcard tr:nth-child(odd){ 
  background: #d0c6d0;
}

.subcard tr:nth-child(even){
  background: #e8dde8;
}

.summary th {
  text-align: left;
  width: 50%;
}

.summary td {
  text-align: left;
  width: auto;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: #E6E6F4;
    background-color: #1a1a1a;
  }

  a {
    color: #646cff;
  }

  a:hover {
    color: #535bf2;
  }

  .card {
    background-color: #241a24;
  }

  button {
    background-color: #241a24;
  }

  .error {
    background-color: #241a24;
  }

  .subcard {
    background-color: #342a34;
    border-color: #000000;
  }

  .subcard tr:nth-child(odd){ 
    background: #241a24;
  }
  
  .subcard tr:nth-child(even){
    background: #3a303a;
  }
}
